In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn import svm
from sklearn.linear_model import LinearRegression,Perceptron,LogisticRegression,LogisticRegressionCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB,BernoulliNB
from sklearn.tree import DecisionTreeClassifier

In [ ]:
data=pd.read_csv('/content/diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
data.shape

(768, 9)

In [ ]:
data.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [ ]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
data.isnull().sum().sum()

0

In [ ]:
X=data.iloc[:,:-1]
Y=data.iloc[:,-1]

In [ ]:
X.shape,Y.shape

((768, 8), (768,))

In [ ]:
Scaler=MinMaxScaler()
X=Scaler.fit_transform(X)

In [ ]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,stratify=Y,random_state=2,test_size=0.2)

In [ ]:
print(X.shape,Xtrain.shape,Xtest.shape,'\n',Y.shape,Ytrain.shape,Ytest.shape)

(768, 8) (614, 8) (154, 8)
 (768,) (614,) (154,)

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
model=svm.SVC(kernel='linear')
model.fit(Xtrain,Ytrain)

SVC(kernel='linear')

In [ ]:
print('Training Set Accuracy:',model.score(Xtrain,Ytrain))
print('Testing Set Accuracy:',model.score(Xtest,Ytest))

Training Set Accuracy: 0.7801302931596091
Testing Set Accuracy: 0.7597402597402597

In [ ]:
# Checking for another scaler to check the test accuracy if it can be increased
scaler = StandardScaler()
X=scaler.fit_transform(X)

In [ ]:
Xtrain2,Xtest2,Ytrain2,Ytest2=train_test_split(X,Y,test_size=0.2,random_state=2,stratify=Y)

In [ ]:
print('Accuracies with Standarad Scaler')
print('Training Set Accuracy:',model.score(Xtrain2,Ytrain2))
print('Testing Set Accuracy:',model.score(Xtest2,Ytest2))

Accuracies with Standarad Scaler
Training Set Accuracy: 0.7817589576547231
Testing Set Accuracy: 0.7727272727272727

In [ ]:
def model(model=X):
    model.fit(Xtrain2,Ytrain2)
    print('Training Set Accuracy:',model.score(Xtrain2,Ytrain2))
    print('Testing Set Accuracy:',model.score(Xtest2,Ytest2))

In [ ]:
model(model=svm.SVC(C=10,kernel='linear'))

Training Set Accuracy: 0.7866449511400652
Testing Set Accuracy: 0.7727272727272727

In [ ]:
model(model=LogisticRegressionCV(cv=5,max_iter=1000))

Training Set Accuracy: 0.7833876221498371
Testing Set Accuracy: 0.7597402597402597